{% load static %}

<!DOCTYPE html>
<html lang="en">

	<head>
		<!-- titre de la fenêtre -->
		<title>Rugby Data</title>

		<!-- précise l'encodage au navigateur (gestion des accents, ...) -->
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

		<!-- Feuilles de style -->
		<link rel="stylesheet" type="text/css" href="{% static 'CSS/headerFooter.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'CSS/sourcePages/sourcePages.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'CSS/sourcePages/imgSourcesPage/tableImgSources.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'CSS/sourcePages/responsiveSources.css' %}">

		<!-- Inhibe la grande largeur sur mobile : évite que le mobile présente un écran large et qu'il faille zoomer -->
		<meta name="viewport" content="initial-scale=1.0, maximum-scale=2.0" />

		<!-- icône de la page -->
		<link rel="icon" href="http://127.0.0.1:8000/static/rugbyBut.ico" type="image/x-icon">
	
	</head>

    <body>
        <header>
			<a href="http://127.0.0.1:8000/" class="logoRugby">
				<img src="{% static 'IMG/logoHeader.png' %}" alt="">
				<h1> Rugby Data </h1>
			</a>

			<ul class="menu">
				<li> <a href="http://127.0.0.1:8000/leagues/"> Leagues </a> </li>
				<li> <a href="http://127.0.0.1:8000/teams/"> Teams </a> </li>
				<li> <a href="http://127.0.0.1:8000/matches/"> Matches </a> </li>
				<li> <a href="http://127.0.0.1:8000/players/"> Players </a> </li>
			</ul>
		
			<button class="button-link-connexion">
				<a href="#"> Log in </a>
			</button>
			
			<!-- Menu déroulant quand la fenêtre devient petite -->
			<div class="petit-menu">
				<span>
					<div></div>
					<div></div>
				</span>
				<span>
					<div></div>
					<div></div>
				</span>
			</div>
		</header>

		<div class="container">
			<table class="content-table">
				<thead>
				<tr>
					<th>Images</th>
					<th>Sources</th>
				</tr>
				</thead>
				<tbody>
			
				<tr>
					<td> 
						<a href="https://boxicons.com ">
							<img src="{% static 'IMG/logoHeader.png' %}" alt=""> 
						</a>
					</td>

					<td> 
						<a href="https://boxicons.com ">
							https://boxicons.com 
						</a>

						<div class="image">
							<img src="{% static 'IMG/fleche.png' %}" alt="">
						</div>
					</td>
				</tr>

				<tr>
					<td> <img src="{% static 'IMG/logoHeader.png' %}" alt=""> </td>

					<td> 
						https://boxicons.com https://boxicons.com 
						<div class="image">
							<img src="{% static 'IMG/fleche.png' %}" alt="">
						</div>
					</td>
				</tr>
				</tbody>
			</table>
		</div>
		

		<footer>
			<div class="plan">
				<li> <a href="http://127.0.0.1:8000/contact-us/"> Contact us </a>  </li>
				<li> <a href="http://127.0.0.1:8000/image-sources/"> Image sources </a> </li>
				<li> <a href="http://127.0.0.1:8000/url-sources/"> Scraping sources </a> </li>
			</div>
		</footer>
    </body>

	<!-- Sript pour le petit menu déroulant -->
	<script src="{% static 'JS/script_menu.js' %}"></script>
</html>